.hero--container{
    margin: 3rem;

    .hero--image{
        width: 100%;
        max-width: 700px;
    }
    .hero--heading{
       
        text-align: center;
        margin: 2rem;
        
        }

}
@media screen and (min-width:760px) {
    .hero--heading{
        font-size: 4rem;
    }
    
}