
.portalImage{
    width: 100%;
    padding: 3rem;
    @media screen and (min-width: 760px) {
        margin: 7rem 0 7rem 0;

    }
}
.portalHeroText{
    padding: 1rem;
    text-align: center;
}

.actionsMenu{
    text-align: center;
    margin: 3rem 0 3rem 0;
}