
    $color-primary: #E63E0F;
    $color-secondary: #EF7D02;
    $color-accent: #00d9ff;
    $color-headings: #fff;
    $color-body: #EBEBEB;
    $color-body-white: #000;
    $color-border: #ccc;
    $border-radius: 30px;
